


@media (width:1024px){
    
    .container {
    grid-template-columns:20rem auto; 
    }
    
    .robot {
        width:30rem;
        margin:0;
    } 
}

@media (min-width:1000px){
    
    .container {
    grid-template-columns:20rem auto; 
    }
    }
    .robot {
        width:25rem;
        margin:2rem;
    }


@media (max-width:700px){

    .container{
        grid-template-columns:none;
    }

    .left { 
        height:20rem; }

    .robot {
        width:15rem;
        margin:0;
    }

    aside {
        margin:0.5rem;

    }
    .form-wrapper {
         margin-top:3rem; }
    }

    .third {
        margin:0;
    }

    #password , #email , #fname{
    width: 90%;
    }

    .strong-password{
       width:90%;
    }

    .button {
        width:90%;
        margin-bottom:1rem;
    }


    
    