
@media (min-width:822px){
    
        .container {
        grid-template-columns:23rem auto; 
        }
        }
        .robot {
            width:28rem;
            margin-left:5rem;
        }

    

@media (max-width:822px){

    .container{
        grid-template-columns:none;
    }

    .left { 
        height:20rem; }

    aside p {
    display:none;
    }

    .lang {
        display:none;
    }

.robot-wrapper{
    width:100%;
    display: flex;
    justify-content: center;
}
    .robot {
        width:20rem;
        margin:0;
    }

    aside {
        margin:0.5rem;
    }
 
    .strong-password{
       margin-top:0.5rem;
    }

    .button {
        margin-bottom:1rem;
    }
    
    }