
    @media (min-width:997px){
    
        .container {
        grid-template-columns:30rem auto; 
        }
        }
        .robot {
            width:35rem;
            margin:2rem;
        }


@media (max-width:822px){

    .container{
        grid-template-columns:none;
    }

    .left { 
        height:20rem; }

    aside p {
    display:none;
    }

    .lang {
        display:none;
    }

    .robot {
        width:20rem;
        margin:0;
    }

    aside {
        margin:0.5rem;
    }
 
    .strong-password{
       margin-top:0.5rem;
    }

    .button {
        margin-bottom:1rem;
    }
    
    }